AUTH_SECRET="rand"
AUTH_GOOGLE_ID=847146679909-rand.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=GOCSPX-exampleSecretKey1234567890
DATABASE_URL=postgres://postgres:admin@localhost:5432/ttlo_demo
MIDDLEWARE_RBAC=true