-- Add sourceId column to substantial_use table
ALTER TABLE \
substantial_use\ ADD COLUMN IF NOT EXISTS \source_id\ UUID;
CREATE INDEX IF NOT EXISTS \
idx_substantial_use_source_id\ ON \substantial_use\ (\source_id\);
